<div class="container-fluid row">

  
  <div class="col-md-5 col-md-offset-4">
    <h1>Sign up<br/><small>It's quick and easy.</small></h1>
    <%= render "form", user: @user %>
  </div>
  <br>

</div>
